LICENSE_DOMAIN=license.example.com
POSTGRES_USER=tiktok_auto
POSTGRES_DB=tiktok_auto_license
LEASE_KEY_ID=lease-2026-01
RELEASE_KEY_ID=release-2026-01
MINIMUM_CLIENT_VERSION=0.1.0
MINIMUM_BACKEND_VERSION=0.1.0
